*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container{
	max-width: 80%;
	/*background-color: rgb(198,152,241);*/
	padding: 34px;
	margin:auto;
}

.container h1{
	text-align: center;
	text-shadow: 3px 0 0 lightpink;
}
.container p{
	text-align: center;
	text-shadow: 2px 0px 1px lightpink;
	font-weight: bold;
}

input, textarea{
	
	width:88%;
	margin:11px;
	/*height:*/ 
	padding:7px;
	font-size: 16px;
	border:2px solid black;
	border-radius: 4px;
	outline: none;
}
form{
	margin-left: 13%;
    margin-right: auto;
}
/*form{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}*/

.btn{
	color: white;
	background: dimgrey;
	padding: 8px 12px;
	font-size: 20px;
	border:2px solid white;
	border-radius: 12px;
	cursor: pointer;
}

.backg{
	width: 100%;
	height: 1170px;
	position: absolute;
	z-index: -1;
	opacity: 0.6;
}

.error{
	color: red;
}

.errMessage{
	width: 80%;
	background-color: red;
	margin-left: 13%;
	margin-right: auto;
}